//COLORS
$bgColor: #333;
$color: #fff;
$colorMain: rgba(209, 169, 84, 1);

//FONT
$font: 'Open Sans', sans-serif;
$fontSub: 'Open Sans Condensed', sans-serif;
$fontSizeS: 14px;
$fontSizeSM: 16px;
$fontSizeM: 18px;
$fontSizeL: 21px;
$fontSizeXL: 24px;
$fontSizeXXL: 48px;
$fontSizeExtra: 64px;